            .w100{
                width: 100%;
            }
            .flex{
                display: flex;
            }
            .pure-btn{
                padding: .6em .8em .4em .8em;
                color: green;
            }
            .pure-btn:hover{
                cursor: pointer;
            }
            .fa-plus-circle{
                font-size: 1.6em!important;
            }
            #pAuthor{
                height: 52px;
            }
            #pKey{
                height: 52px!important;
            }
            .r-box{
                margin-bottom: 0;
            }
            .btn-success {
            background: rgb(28, 184, 65); /* this is a
            green */
            color: white;
            font-weight: bold;
            margin-right: 1%;
            margin-bttom: 1%;
            }
            .wrap{
                flex-wrap: wrap;
            }
            .added-author{
                width: 8em;
            }
            .added-author:hover{
                color: white;
                background: rgb(202, 60, 60); /* this is a maroon */
            }
            .added-author:hover span{
                display: none!important;
            }
            .added-author:hover:before{
                content: "Remove";
            }
            h3{
                margin: 0 2% 2% 2%;
            }
            #db-select{
                padding: 0 2%;
                margin: 1% 1% 0 1%;
                top: 1px;
                border: none;
                border-radius: 3px;
            }