<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a responsive control table.">

    <title>Control Panel</title>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

<!--[if lte IE 8]>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">

<![endif]-->
<!--[if gt IE 8]><!-->

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

<!--<![endif]-->

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/control-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="../assets/css/pricing.css">
        <link rel="stylesheet" href="../assets/css/font-awesome.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <style> 
            .no-decor{
                text-decoration: none;
            }
        </style>
    <!--<![endif]-->

</head>
<body>
<div class="pure-menu pure-menu-horizontal normal fixed">
        <a href="#" class="pure-menu-heading">Chrus Research</a>
        <ul class="pure-menu-list fl-right">
            <li class="pure-menu-item"><a href="/search" class="pure-menu-link">Search  <i class="fa fa-search"></i></a></li>


            <li class="pure-menu-item  pure-menu-has-children pure-menu-allow-hover name-nav">
                <a href="#" id="db-menu-dropdown" class="pure-menu-link "><i class="fa fa-user"></i></a>
                <ul class="pure-menu-children">
                    <li class="pure-menu-item">
                        <a href="/controlpanel" class="pure-menu-link">Control Panel <i class="fa fa-server"></i></a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="/papers" class="pure-menu-link">My Papers</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="/login" class="pure-menu-link">Logout <i class="fa fa-sign-out"></i></a>
                    </li>

                </ul>
            </li>

        </ul>
    </div>

<div class="banner">
    <h1 class="banner-head">
        Welcome Back Christopher!
    </h1>
</div>

<div class="l-content">
    <div class="control-tables pure-g">
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="control-table control-table-update">

                <a href="/papers/edit" class="no-decor">
                    <div class="control-table-header">
                        <h2>Update</h2>

                        <span class="control-table-price">
                            <i class="fa fa-pencil"></i> <span>Edit contents of a paper</span>
                        </span>
                    </div>
                </a>

                <ul class="control-table-list">
                    <li>Admins</li>
                    <li>Faculty</li>
                </ul>
                <a href="/papers/edit">
                <button class="button-choose pure-button">Choose</button>
                </a>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="control-table control-table-insert control-table-selected">
                <a href="/papers/create" class="no-decor">
                    <div class="control-table-header">
                        <h2>Insert</h2>

                        <span class="control-table-price">
                            <i class="fa fa-file-text"></i> <span>Create a new paper</span>
                        </span>
                    </div>
                </a>

                <ul class="control-table-list">
                    <li>Admins</li>
                    <li>Faculty</li>
                </ul>

                <a href="/papers/create"><button class="button-choose pure-button">Choose</button></a>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="control-table control-table-delete">

                <a href="/papers/delete" class="no-decor">
                    <div class="control-table-header">
                        <h2>Delete</h2>

                        <span class="control-table-price">
                            <i class="fa fa-times"></i> <span>Remove a paper</span>
                        </span>
                    </div>
                </a>

                <ul class="control-table-list">
                    <li>Admins</li>
                    <li>Faculty</li>
                </ul>
                <a href="/papers/delete">
                <button class="button-choose pure-button">Choose</button>
                </a>
            </div>
        </div>
    </div> <!-- end control-tables -->

    <div class="information pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">header 1</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                </p>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">header 2</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                </p>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">header 3</h3>
                <p>
                    Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">header 4</h3>
                <p>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div> <!-- end information -->
</div> <!-- end l-content -->

<div class="footer l-box">
    <p>
        <a href="#">&copy; 2015 Chrus All Rights Resevered</a>  not really    </p>
</div>


<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="../assets/js/logout.js"></script>
<script src="../assets/js/startPages.js"></script>
</body>
</html>
