<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a responsive control table.">

    <title>Edit Paper</title>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

<!--[if lte IE 8]>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">

<![endif]-->
<!--[if gt IE 8]><!-->

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

<!--<![endif]-->

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/control-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="../assets/css/pricing.css">
        <link rel="stylesheet" href="../assets/css/font-awesome.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../assets/css/forms.css">
    <!--<![endif]-->

    <link rel="stylesheet" href="../assets/lib/SA-Alert/dist/sweetalert.css">
    <script src="../assets/lib/SA-Alert/dist/sweetalert.min.js"></script>


</head>
<body>
    <div class="pure-menu pure-menu-horizontal normal fixed">
        <a href="/controlpanel" class="pure-menu-heading">Chrus Research</a>
        <ul class="pure-menu-list fl-right">
            <li class="pure-menu-item"><a href="/search" class="pure-menu-link">Search  <i class="fa fa-search"></i></a></li>


            <li class="pure-menu-item  pure-menu-has-children pure-menu-allow-hover name-nav">
                <a href="#" id="db-menu-dropdown" class="pure-menu-link "></i></a>
                <ul class="pure-menu-children">
                    <li class="pure-menu-item">
                        <a href="../controlpanel" class="pure-menu-link">Control Panel <i class="fa fa-server"></i></a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="../papers" class="pure-menu-link">My Papers</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="../login" class="pure-menu-link">Logout <i class="fa fa-sign-out"></i></a>
                    </li>

                </ul>
            </li>

        </ul>
    </div>



<div class="l-content l-form">
    <div class="control-tables pure-g">
            <div class="control-table control-table-update w100">

                <form method="POST" action="" class="form pure-form pure-u-1 pure-u-md-5-6">
                <h2>Edit Papers</h2>
                 <fieldset class="pure-group">
                    <div class="w100 flex wrap pure-control-group">

                        <select id="pPapers" class="pure-input-1-2">

                        </select>
                        <input type="button" id="db-select" class="button-choose pure-button button-edit" value="Select">

                    </div>
                </fieldset>

                <fieldset class="pure-group cont-div">
                    <input id="m-title" type="text" class="pure-input-1" name="paperTitle" placeholder="Title">
                    <br>
                    <textarea id="m-abstract" class="pure-input-1 desc" name="paperDescription" placeholder="Description"></textarea>
                    <br>
                    <textarea id="m-citation" class="pure-input-1 desc" name="paperCitations" placeholder="Citations"></textarea>
                 
                    <a id="db-add" class="button-choose pure-button button-add" type="button" value="Save">Save</a>
                </fieldset>

                <br>

                <fieldset class="pure-group auth-div">
                   <h3 style="text-align:left;">Edit Authors</h3>
                    <div class="w100 flex wrap auth-cont pure-control-group">

                            <select id="pAuthor" class="pure-input-1-2">

                            </select>
                            <i class="add-auth fa fa-plus-circle pure-btn"></i>
                    </div>
                    <br>


                </fieldset>
                <fieldset class="pure-group key-div">
                    <div class="w100 flex" id="key-cont">
                        <input type="text" class="pure-input-1-2 pKey" name="paperKeywords" placeholder="Keyword"><br>
                        <i class="add-key fa fa-plus-circle pure-btn"></i>
                    </div>
                </fieldset>

                <a href="../controlpanel" class="button-choose pure-button">Back</a>

                </form>
        </div>
    </div> <!-- end control-tables -->


</div> <!-- end l-content -->

<div class="footer l-box form-footer">
    <p>
        <a href="#">&copy; 2015 Chrus All Rights Resevered</a>  not really    </p>
</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="../assets/js/edit.js"></script>
<script src="../assets/js/startPages.js"></script>
</body>
</html>
